table { 
    width: 500px; 
    border-collapse: collapse; 
    margin: auto; 
}

th, td { 
    border: 1px solid black; 
    padding: 8px; 
    text-align: left; 
}

.student { 
    text-align: center;
}
